body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3C5556;
    color: #f6efe7;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #E9F1EF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #c8dbd7;
    border: none;
    border-radius: 5px;
    color: #f6efe7;
}

input[type="submit"] {
    background: linear-gradient(135deg, #f11c6e, #ce3a8e, #e98383); /* Gradient from purplish pink to warm peach */
    cursor: pointer;
}

.social-login {
    margin-top: 20px;
}

.social-login button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #4267B2; /* Facebook blue */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login button.google {
    background-color: #DB4437; /* Google red */
}

.social-login button.apple {
    background-color: #000; /* Apple black */
}

.social-login button.facebook {
    background-color: #4267B2; /* Facebook blue */
}

.social-login button:hover {
    opacity: 0.8;
}

.social-login button span {
    margin-left: 5px;
}
